<a href="https://colab.research.google.com/github/atkinsonde/230/blob/main/ascii_class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Code that we used in GEOG/EOS 230 class**<br>
**Thursday Jan 18 2024**

Recall that we looked at a number of types of ASCII files along with a variety of the pandas read functions.

---
Before we begin...
One thing I haven't made clear is why we are coding at all, and what exactly these pandas reading functions are doing. We can compare coding to opening a datasete using a spreadsheet. With a spreadsheet we can see the data in the cells. However, the data still have to be in a format that excell understands. Some are simple: excel understands a csv file and automatically gives a separate cell for each value between commas on each row. That seems pretty straightforward because you can just , but excel is still undergoing a process of *importing* the data so it is compatible with its format. It is less obvious because we can still see all the data in the sheet.

##Mount class files to your COLAB drive
Here is how to get files from Brightspace into colab.


1.   Go to the Brightspace file repository:

2.   List item

In [4]:
import pandas as pd

In [2]:
!git clone https://github.com/atkinsonde/230.git

fatal: destination path '230' already exists and is not an empty directory.

In [5]:
pd.read_json("230/ascii_class/combined.json")

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight,genus,species,taxa,plot_type
0,1,7,16,1977,2,NL,M,32.0,NaN,Neotoma,albigula,Rodent,Control
1,72,8,19,1977,2,NL,M,31.0,NaN,Neotoma,albigula,Rodent,Control
2,224,9,13,1977,2,NL,None,NaN,NaN,Neotoma,albigula,Rodent,Control
3,266,10,16,1977,2,NL,None,NaN,NaN,Neotoma,albigula,Rodent,Control
4,349,11,12,1977,2,NL,None,NaN,NaN,Neotoma,albigula,Rodent,Control
...,...,...,...,...,...,...,...,...,...,...,...,...,...
34781,26966,10,25,1997,7,PL,M,20.0,16.0,Peromyscus,leucopus,Rodent,Rodent Exclosure
34782,27185,11,22,1997,7,PL,F,21.0,22.0,Peromyscus,leucopus,Rodent,Rodent Exclosure
34783,27792,5,2,1998,7,PL,F,20.0,8.0,Peromyscus,leucopus,Rodent,Rodent Exclosure
34784,28806,11,21,1998,7,PX,None,NaN,NaN,Chaetodipus,sp.,Rodent,Rodent Exclosure
34785,30986,7,1,2000,7,PX,None,NaN,NaN,Chaetodipus,sp.,Rodent,Rodent Exclosure